In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.DataFrame({'size' : ['small', 'medium', 'large', 'medium', 'large', 'small']})
df

     size
0   small
1  medium
2   large
3  medium
4   large
5   small

In [6]:
oe = OrdinalEncoder(categories = [['small', 'medium', 'large']])
df['level'] = oe.fit_transform(df[['size']])
df

     size  level
0   small    0.0
1  medium    1.0
2   large    2.0
3  medium    1.0
4   large    2.0
5   small    0.0