In [17]:
import seaborn as sns
df = sns.load_dataset('healthexp')
df_numeric = df.drop(columns=['Country'])

df_numeric.head()

   Year  Spending_USD  Life_Expectancy
0  1970       252.311             70.6
1  1970       192.143             72.2
2  1970       123.993             71.9
3  1970       150.437             72.0
4  1970       326.961             70.9

## Covariance

In [18]:
covariance_matrix = df_numeric.cov()
covariance_matrix

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

## Correlation

In [21]:
# Spearman Rank Correlation
correlation_matrix = df_numeric.corr(method = 'spearman')
correlation_matrix

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [22]:
# Pearson Correlation
correlation_matrix = df_numeric.corr(method = 'pearson')
correlation_matrix

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000